<!DOCTYPE html>
<html>

<head>
    <title></title>
    <style>
        html {
            direction: rtl;
            font-size: 20px;
            font-weight: bold;
            color: #585858;

        }

        a {
            text-decoration: none;
        }

        li {
            list-style: none;
            padding: 5px;
        }

        .card {
            border: 1px solid #585858;
            border-radius: 5px;
            padding: 10px;
            background-color: #f7f7f7;
        }

        .container {
            width: 90%;
            margin: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="card">
            <li><a href="/admin/user/index">المستخدمين</a></li>
            <li><a href="/admin/question/index">الاسئلة</a></li>
            <li><a href="/admin/question/create">اصافة الاسئلة</a></li>
            <li><a href="/admin/answer/index">الاجابات</a></li>
        </div>
    </div>
</body>

</html>