<!DOCTYPE html>
<html>

<head>
    <title></title>
    <style>
        table {
            border: 1px solid #585858;
            width: 100%;
            font-weight: bold;
            font-size: 18px;
            text-align: center
        }

        table tr:first-child {
            background-color: #ddd;
        }

        html {
            direction: rtl;
            box-sizing: border-box;
        }

        .card {
            border: 1px solid #585858;
            border-radius: 5px;
            padding: 10px;
            background-color: #f7f7f7;
        }

        .container {
            width: 90%;
            margin: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="card">
            <table border="1">
                <tr>
                    <td>الاسم</td>
                    <td>الهاتف</td>
                    <td>الرقم السري</td>
                    <td>الولاية</td>
                </tr>
                <% for(var i=0; i<users.length; i++) { %>
                <tr>
                    <td><%= users[i].first_name %></td>
                    <td><%= users[i].phone %> </td>
                    <td><%= users[i].password %></td>
                    <td><%= users[i].wilaya %></td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
</body>

</html>