<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        * {
            box-sizing: border-box;
            direction: rtl;
            font-size: 18px;
            font-weight: bold;
        }

        h1 {
            font-size: 22px;
            color: #58566f;
            text-align: center;
        }

        .container {
            width: 90%;
            margin: auto;
        }

        .img {
            display: block;
            width: 100%;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>شكرا لتسجيلك</h1>
        <div class="img">
            <img src="bg.png" alt="img" width="200">
        </div>
    </div>
</body>

</html>